.header-top-custom {
    background: linear-gradient(90deg, 
    rgb(111,63,149) 0%, 
    rgb(196,47,132) 12.5%, 
    rgb(233,45,52) 25%, 
    rgb(248,152,46) 37.5%, 
    rgb(243,234,35) 50%, 
    rgb(42,172,85) 62.5%, 
    rgb(19,161,198) 75%, 
    rgb(58,69,151) 87.5%);
}

.event-area-custom {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-banner-custom {
    padding-top: 155px;
    background: #fff;
}

.banner-content-custom {
    padding-top: 80px;
    padding-bottom: 0px;
}

.banner-content .title-custom {
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #07294d;
}

.banner-content .title-custom span {
    color: #0c8b51;
}

.content-area-padding-custom{
    padding-top: 80px;
}
.duration-rating-custom{
    top:20px;
}